.receiptContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 0 5%;
  flex-wrap: wrap;
  position: relative;
}

.tableContainer {
  width: 100%;
  border-collapse: collapse;
  background-color: hsl(0, 0%, 95%);
}

.tableContainer caption {
  text-align: center;
  padding: 1rem;
}

.tableContainer td {
  text-align: center;
}

.tableContainer tbody td:nth-of-type(2),
.tableContainer th {
  text-align: left;
  text-wrap: nowrap;
}

.tableContainer th {
  padding: 1rem;
}

.tableContainer tbody td {
  padding: 0.5rem 1rem;
}

.tableContainer thead th:not(:last-of-type) {
  border-right: 2px solid hsl(190, 80%, 40%);
}

.tableContainer tbody td:not(:last-of-type) {
  border-right: 2px solid hsl(0, 0%, 100%);
}

.tableContainer:has(.finalPrice) tbody td:last-of-type {
  text-align: left;
}


.tableContainer caption {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(214, 20%, 40%);
}

.tableContainer thead th{
  color: white;
  letter-spacing: 0.1rem;
  /* background-color: hsl(0 0% 0% / 0.5); */
  background-color: hsl(190, 80%, 35%);
}

.tableContainer tbody tr:nth-of-type(even) {
  background-color: hsl(0 0% 0% / 0.07);
}

.tableContainer tbody tr {
  color: hsl(214, 20%, 40%);
  font-weight: 500;
}
/* 
.tableContainer tbody tr:nth-last-of-type(2) {
  border-bottom: 3px solid hsl(0, 0%, 75%);
} */

.tableContainer tbody tr:last-of-type {
  border-bottom: 3px solid hsl(190, 80%, 35%);
}

.type-20mm {
  background-color: hsl(122, 71%, 85%);
}

.type-22mm {
  background-color: hsl(215, 100%, 90%);
}

.backBtn {
  display: block;
  height: 25px;
  border-radius: 5px;
  border: none;
  /* background-color: hsl(208, 100%, 60%); */
  background-color: hsl(210, 80%, 35%);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 15px 27px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 3%;
  left: 3%;
}

.backBtn:hover {
  /* background-color: hsl(208, 100%, 70%); */
  background-color: hsl(210, 85%, 45%);
}

.backBtn:active {
  background-color: hsl(210, 85%, 55%);
}

@media (max-width: 769px) {
  .receiptContainer {
    padding-top: 10%;
  }

  .tableContainer {
    border: 2px solid hsl(190, 80%, 35%);
  }

  .tableContainer th {
    display: none;
  }

  .tableContainer td {
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
    text-align: left;
  }

  .tableContainer caption {
    font-size: 1.25rem;
  }

  .tableContainer td:first-child {
    padding-top: 2rem;
  }
  
  .tableContainer td:last-child {
    padding-bottom: 2rem;
  }

  .tableContainer td::before {
    content: attr(data-cell);
    font-weight: 700;
  }

  .backBtn {
    width: 6em;
    top: 10px;
    right: 70%;
  }
}