.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.receiptContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: min(2%, 1em);
}

.receipt {
  --_background : hsl(214, 30%, 30%);
  margin-bottom: 1.5em;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;

  .currentShopDetails {
    color: var(--primary-font-clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;

    .currentShopName {
      letter-spacing: 0.05em;
      font-size: 2rem;  
      font-weight: 600;
      margin-bottom: 0.125em;
    }
    .currentShopOwner {
      color: white;
      letter-spacing: 0.05em;
      background-color: var(--_background);
      font-size: 1.125rem;
      font-weight: 500;
      padding: 0.125em 0.75em 0.25em;
      border-radius: 1em;
    }
    .currentShopMoto { text-align: center; }
    .currentShopContact { font-weight: 500; }
    .currentShopAddress {
      color: white;
      width: 90%;
      text-align: center;
      background-color: var(--_background);
      padding-block: 0.25em;
    }
  }

  .targetShopDetails {
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    color: var(--primary-font-clr-dark);

    .targetShopTop,
    .targetShopBottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

.receiptBody {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.25em;

  & > * {
    flex-grow: 1;
  }

  .tableContainer {
    color: var(--primary-font-clr-dark);
    width: 100%;
    border-collapse: collapse;
  
    & > * {
      border-inline: 1px solid var(--_background);
    }
  
    .caption {
      color: white;
      font-size: 1.125rem;
      padding-block: 0.125em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      background-color: var(--_background);
    }
    
    .tableHeader {
      background-color: var(--_background);
      border-top: 1px solid white;
      
      .tableHeaderItem {
        color: white;
        font-weight: 400;
        letter-spacing: 0.05em;
        padding: 0.125em 0.5em 0.25em;
        
        &:not(:first-of-type) {
          border-left: 1px solid white;
        }
      }
    }
  
    .tableBodyRow {
      &:last-of-type {
        border-bottom: 1px solid var(--_background);
      }
      .tableBodyRowItem {
        padding-block: 0.125em;
        &:not(:first-of-type) { border-left: 1px solid var(--_background); }
        &:nth-of-type(2) { padding-left: 0.25em; }
        &:not(:nth-of-type(2)) { text-align: center; }
      }
      &.calculation {
        border-top: 1px solid var(--_background);
        text-align: center;
      }
      .tableBodyRowItemInput {
        color: var(--primary-font-clr-dark);
        width: 4em;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        caret-color: var(--primary-font-clr-dark);
  
        &:focus {
          border-color: var(--primary-font-clr-dark);
        }
      }
    }
  }
}

.bottomSection {
  text-align: center;
  background-color: hsl(214, 20%, 50%);
  width: 40ch;
  align-self: center;
  
  .disclaimerText {
    padding: 0.125em 1em 0.25em;
    background-color: hsl(214, 20%, 85%);
    color: var(--primary-font-clr-dark);
    font-weight: 600;
    border-inline: 4px solid white;
  }
}


@media (width < 470px) {
  .receiptContainer {
    font-size: 0.8rem;
    .currentShopDetails {
      .currentShopName { font-size: 1.6rem; }
      .currentShopOwner { font-size: 0.9rem; }
    }
  }
}