.large {
  font-size: 1.2rem;
}

.normal {
  font-size: 1rem;
}

.small {
  font-size: 0.8rem
}

.button {
  font-weight: 500;
  border: none;
  border-radius: 0.1875em;
  padding: 0.315em 0.625em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.primary {
  background-color: hsl(210, 80%, 35%);
  color: white;
}

.primary:not(.disabled):hover {
  background-color: hsl(210, 85%, 45%);
}

.primary:not(.disabled):active,
.primary:not(.disabled):focus {
  background-color: hsl(210, 85%, 55%);
}

.secondary {
  background-color: #6c757d;
  color: white;
}

.light {
  color: hsl(214, 20%, 40%);
  background-color: hsl(0, 0%, 100%);
}

.light:not(.disabled):hover,
.light:not(.disabled):active,
.light:not(.disabled):focus {
  background-color: hsl(0, 0%, 90%);
}

.cancel {
  background-color: #f0f0f0;
  color: #333;
}

.cancel:hover {
  background-color: #ddd;
}

.submit {
  background-color: #4caf50;
  color: white;
}

.submit:hover {
  background-color: #45a049;
}

.outline {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

@media (width <= 680px) {
  .large {
    font-size: 1rem;
  }

  .normal {
    font-size: 0.8rem;
  }

  .small {
    font-size: 0.6rem;
  }
}