.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-font-clr-dark);
  margin-top: 0.25em;
}

.noItems {
  margin-top: 1em;
  text-align: center;
  color: var(--primary-font-clr-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  gap: 1em;
  margin-bottom: 4em;
}