.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
  width: min(200px, 100%);
  text-align: center;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
}

.stockCount {
  font-size: 18px;
  font-weight: bold;
  color: #12a373;
}

.image {
  max-width: 80%;
  border-radius: 4px;
}

.name, .type {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 5px;
  margin-bottom: 0;
}

.price {
  font-size: 16px;
  color: #888;
  margin-top: 10px;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  gap: 8px;
}

.plusBtn,
.minusBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-size: 20px;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.plusBtn:hover,
.minusBtn:hover {
  background-color: #ddd;
}

.plusBtn:focus,
.minusBtn:focus {
  outline: none;
  background-color: #ccc;
}


@media (max-width: 680px) {
  .card {
    padding: 8px;
    margin: 8px;
    width: min(150px, 100%);
  }
  
  .stockCount {
    font-size: .85rem;
  }
  
  .image {
    max-width: 70%;
    margin-bottom: 0px;
  }
  
  .name {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  
  .price {
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .controls {
    gap: 10px;
  }
  
  .plusBtn,
  .minusBtn {
    width: 25px;
    height: 25px;
    padding: 2px 2px 5px;
    font-size: 16px;
  }
}