.card {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0;
  margin: 1em;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, 0.1);
  width: min(12.5em, 100%);
  transition: transform 0.2s ease;
  position: relative;
}

/* using pseudo element for creating better performance box shadow */
.card::after {
  content: '';
  position: absolute;
  inset: 0 0 0 0; /* top right bottom left */
  border-radius: 0.5em;
  opacity: 0;
  box-shadow: 6px 6px 8px hsla(0, 0%, 0%, 0.1);
  transition: opacity 0.3s ease;
  z-index: -1;
}

.card:hover {
  transform: translateY(-1px);

  &:hover::after {
    opacity: 1;
  }
}

.stockCount {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--primary-font-clr-dark);
  background-color: hsl(0, 0%, 95%);
  border-top-left-radius:0.4375em ;
  padding: 0.3em;
  align-self: flex-start;
}

.image {
  max-width: 50%;
  max-height: 50%;
  border-radius: 0.25em;
  padding-inline: 0;
  margin-top: auto;
}

.name{
  padding-inline-start: 1.5em;
  align-self: flex-start;
}

.name, .type {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-font-clr-dark);
  margin: 0;
  margin-top: auto;
}

.price {
  font-size: 1.1rem;
  color: #888;
  align-self: flex-start;
  padding-inline: 1.5em;
  margin-block: 0.5em;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 60%;
  margin-bottom: 0.5em;
}

.plusBtn,
.minusBtn {
  color: var(--primary-font-clr-dark);
  font-size: 1rem;
  font-weight: 900;
  background-color: hsl(220, 37%, 97%);
  height: 2.25em;
  width: 2.25em;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
  box-shadow: 0 0.15em 0 rgb(0 0 0 / 0.08);
  transition: 
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.plusBtn:hover,
.minusBtn:not(:disabled):hover,
.plusBtn:focus,
.minusBtn:not(.disabled):focus {
  color: hsl(220, 37%, 97%);
  background-color: hsl(220, 20%, 67%);
}

.minusBtn:disabled {
  cursor: not-allowed;
}

.type{
  border-top-left-radius: 0.4375em;
  border-top-right-radius: 0.4375em;
  padding-inline: 1.2em;
  margin-block: 0;
}

.type-20mm .type{
  background-color: hsl(122, 70%, 85%);
}

.type-22mm .type{
  background-color: hsl(215, 100%, 90%);
}

@media (max-width: 680px) {
  .card {
    font-size: 0.8rem;
  }
  
  .stockCount {
    font-size: .85rem;
  }
  
  .image {
    max-width: 70%;
    margin-bottom: 0px;
  }
  
  .name {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  
  .price {
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .controls {
    gap: 10px;
  }
  
  .plusBtn,
  .minusBtn {
    width: 25px;
    height: 25px;
    padding: 2px 2px 5px;
    font-size: 16px;
  }
}