.inventoryContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.secondaryNavbar {
  position: sticky;
  top: 1px;
  background-color: white;
  z-index: 1000;
}

.secondaryNavbar::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  background-color: white;
  z-index: -1;
}

.secondaryNavbar > .wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 1em;
  flex-wrap: wrap;
  gap: 1.5em;
}

.secondaryNavList {
  display: flex;
  gap: 0.5em;
  margin: 0;
  list-style: none;
}

.secondaryNavLink {
  color: var(--primary-font-clr-dark);
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  transition: 
    background-color 0.2s ease,
    color 0.2s ease;
}

.secondaryNavLink:hover{
  background-color: hsl(0, 0%, 95%);
}

.secondaryNavLink.active {
  color: white;
  background-color: var(--accent-clr);
}

.section {
  scroll-margin-top: 60px;
}

.section > .header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-font-clr-dark);
  margin-bottom: 0.67em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  gap: 1em;
  margin-bottom: 4em;
}

.noBrands {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
  margin-top: 0px;
}

@media (width <= 680px) {
  .secondaryNavbar { margin-top: 0; }
  .section > .header { font-size: 1.125rem; }
  .secondaryNavLink { font-size: 1rem; }

  .grid {
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (width <= 400px) {
  .wrapper { width: 95%; }
}