.titleSection {
  margin: 20px 35px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titleSubmit {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.selectCount {
  /* background-color: burlywood; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title {
  color: hsl(215, 20%, 40%);
  font-size: 1.5rem;
  font-weight: bold;
}

.counter {
  color: hsl(215, 20%, 40%);
  font-size: 1rem;
  font-weight: bold;
}

.submitBtn,
.selectAllBtn {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: hsl(210, 80%, 35%);
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 5px 10px 27px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.submitBtn:hover,
.selectAllBtn:hover {
  background-color: hsl(210, 85%, 45%);
}

.selectAllBtn:active {
  background-color: hsl(210, 85%, 55%);
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
  margin: 0 50px;
  padding: 20px 35px;
  overflow-x: hidden;
  overflow-y: auto;
}


@media (max-width: 680px) {
  .titleSection {
    margin: 5px;
  }
  
  .titleSubmit {
    width: 100%;
    padding: 0;
  }
  
  .selectCount {
    padding: 0;
  }
  
  .title {
    font-size: 1.25rem;
  }
  
  .counter {
    font-size: .90rem;
  }
  
  .submitBtn,
  .selectAllBtn {
    font-size: .9rem;
    padding: 0px 10px;
  }
  
  .listContainer {
    gap: 10px;
    margin: 0px;
    padding: 10px;
  }
}