.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 30px;
  margin: 5px 10px;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 8px;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
  width: 150px;
  height: auto;
  text-align: center;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-2px);
}

.type{
  /* border: 2px solid hsla(0, 0%, 0%, 0.1); */
  color: hsl(215, 20%, 40%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-inline: 0.9375em;
  position: absolute;
  font-weight: 600;
  bottom: 0;
  left: 26%;
}

.type-20mm .type{
  background-color: hsl(122, 70%, 85%);
}
.type-22mm .type{
  background-color: hsl(215, 100%, 90%);
}

.stockCount {
  /* background-color: hsl(120, 50%, 60%);
  color: white; */
  font-weight: bold;
  color: hsl(215, 20%, 40%);
  background-color: hsl(0, 0%, 95%);
  border-top-left-radius: 7px ;
  padding: 0.3125em;
  font-size: 0.875rem;
  position: absolute;
  top: 0px;
  left: 0px;
}

.image {
  max-width: 65%;
  height: auto;
  margin-block: 0;
}

.name {
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0;
}

.price {
  font-size: 0.95rem;
  color: #888;
  margin-bottom: 25px;
}

.plusBtn {
  width: 2em;
  height: 2em;
  background-color: #f0f0f0;
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: absolute;
  top: 0.625em;
  right: 0.95em;
}

.plusBtn:hover {
  background-color: #ddd;
}

.plusBtn:focus {
  outline: none;
  background-color: #ccc;
}

.plusBtn:disabled {
  cursor: not-allowed;
  
  &:hover {
    background-color: #f0f0f0;
  }
}

/* === Tooltip for Disabled Button === */
.plusBtn:disabled::after {
  content: attr(data-tool-tip);
  font-weight: 500;
  display: block;
  position: absolute;
  top: 0;
  right: -110%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.375em 0.625em 0.5em;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms,
              top ease-out 150ms,
              right ease-out 150ms ;
  z-index: 1;
  pointer-events: none;
}
.plusBtn:disabled:hover::after {
  top: 100%;
  right: 0%;
  transform: scale(1);
}

@media (max-width: 680px) {
  .card {
    width: 95px;
    padding-top: 7px;
    margin: 2px 5px;
  }

  .stockCount {
    font-size: 0.7rem;
  }

  .image {
    max-width: 55%;
    margin-block: 1rem 0.5rem;
  }

  .name {
    font-size: 0.75rem;
    font-weight: 600;
    color: #333;
    margin-block: 0;
  }

  .plusBtn {
    top: 0.7em;
    right: 0.4em;  
    font-size: 0.9rem;
  }

  .price {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .type {
    left: 16%;
    font-size: 0.85rem;
  }
}