.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

.exchangeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3125em 0.625em;
  padding-block: 0.5em 0;
  height: 90svh;
  
}

.topButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.125em;
}

.shopDetailsContainer {
  color: var(--primary-font-clr-dark);
  font-size: 1.25rem;
  font-weight: 600;
  padding-inline: 1em;
  text-decoration:underline;
  /* margin: 0 auto; */
  /* padding-block: 0.125em; */
}

.secondaryNavbar {
  display: flex;
  justify-content: center;
  padding-bottom: 0.125em;
  flex-wrap: wrap;
}

.secondaryNavList {
  display: flex;
  gap: 0.5em;
  list-style: none;
}

.activeBtn {
  color: white;
  background-color: var(--accent-clr);
}

.sectionsContainer {
  display: flex;
  gap: 1.2em;
  text-align: center;
  padding-inline: 1em;
}

.section {
  container: section / inline-size;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border: 3px solid hsl(0, 0%, 85%);
  border-radius: 0.5em;
  height: 50svh;
  width: 48%;
  box-shadow: 5px 5px 10px hsl(0, 0%, 90%);
  transition: 0.3s ease all;
}

.section:not(.active):hover {
  cursor: pointer;
  border-color: hsl(0, 0%, 70%);
}

.active {
  transition: 0.3s ease all;
  border: 3px solid hsl(122, 40%, 45%);
}

.sectionTitles {
  color: var(--primary-font-clr-dark);
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-block: 0.5em;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: hsl(0, 0%, 95%);
  transition: 0.3s ease all;
  position: relative;
  z-index: 1;
}

.sectionTitles::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: hsl(122, 50%, 70%);
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

.active .sectionTitles::after {
  transform: scaleY(1);
  transform-origin: top;
}

.itemList {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tableContainer {
  & {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    background-color: hsl(0, 0%, 99%);
  }
  
  & thead th {
    color: white;
    text-align: center;
    padding: 0.8em 1em;
    letter-spacing: 0.1em;
    background-color: lightgray;
  }
  
  & tbody td:nth-of-type(2) {
    text-align: left;
  }
  
  & td:not(.price) {
    text-wrap: nowrap;
    text-align: center;
    padding-block: 0.4em;
  }
  
  & thead tr{
    position: sticky;
    top: 0;
  }
  
  & tbody tr:nth-of-type(even) {
    background-color: hsl(0 0% 0% / 0.05);
  }
  
  & tbody tr {
    color: var(--primary-font-clr-dark);
    font-weight: 500;
  }

  & .type-20mm, .type-22mm {
    padding: 0.5em;
    border-radius: 0.25em;
  }

  & .quantity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.active .tableContainer{
  & th {
  color: white;
    background-color: var(--accent-clr);
    transition: all 0.5s ease;
  }

  & .type-20mm {
    background-color: hsl(122, 71%, 85%);
    transition: 0.3s;
  }

  & .type-22mm {
    background-color: hsl(215, 100%, 90%);
    transition: 0.3s;
  }

  & .decrementButton {
    color: white;
    background-color: hsl(190, 100%, 42%);
    transition: 0.3s ease-out all;

    &:hover {
      background-color: hsl(201, 100%, 40%);
    }
  }
}

.actionButtons {
  display: flex;
  gap: 0.25em;
  justify-content: space-around;
}

.removeButton,
.crossButton{
  font-size: 0.8rem;
  padding: 0.3em 0.5em;
  background-color: hsl(0, 100%, 50%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.25s ease-in;
}

.removeButton:hover,
.crossButton:hover {
  background-color: hsl(0, 100%, 40%);
}

.removeButton.hidden,
.crossButton.hidden {
  display: none;
}

.decrementButton {
  font-size: 0.8rem;
  font-size: 1.075rem;
  color: white;
  background-color: transparent;
  font-weight: 900;
  padding: 0.25em 0.625em;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.removeButton:disabled,
.crossButton:disabled {
  background-color: hsl(0, 0%, 70%);
  cursor: not-allowed;
  opacity: 0.5;
}


.decrementButton:disabled {
  background-color: hsl(0, 0%, 90%);
  cursor: not-allowed;
}

.topButtonContainer {
  position: relative;
}

.nextBtn:disabled::after {
  content: attr(data-tool-tip);
  font-weight: 500;
  display: block;
  position: absolute;
  bottom: 0;
  right: -7%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.3em 0.625em 0.5em;
  border-radius: 0.25em;
  font-size: 0.75rem;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms,
              bottom ease-out 150ms,
              right ease-out 150ms ;
  z-index: 1;
  pointer-events: none;
}

.nextBtn:disabled:hover::after {
  bottom: 40%;
  right: 5%;
  transform: scale(1);
}

.bottomScrollable {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  justify-content: left;
  overscroll-behavior-inline: contain;
  margin-top: auto;
  /* fade at the sides */
  /* -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 2%, black 98%, rgba(0, 0, 0, 0) 99%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 2%, black 98%, rgba(0, 0, 0, 0) 99%); */
}

.bottomScrollable::-webkit-scrollbar,
.itemList::-webkit-scrollbar {
  height: .4rem;
  width: .3rem;
}

.bottomScrollable::-webkit-scrollbar-track,
.itemList::-webkit-scrollbar-track {
  background-color: hsl(215, 20%, 90%);
  border-radius: 15px;
  margin: 0.125rem 0.5rem;
}

.bottomScrollable::-webkit-scrollbar-thumb,
.itemList::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: hsl(215, 20%, 60%);
}

.bottomScrollable::-webkit-scrollbar-thumb:hover,
.itemList::-webkit-scrollbar-thumb:hover {
  background-color: hsl(215, 20%, 50%);
}

@media (width < 1100px) {
  .sectionTitles { font-size: 1.1rem; }
  .tableContainer thead,
  .tableContainer tbody { font-size: 0.8rem; }
  .removeButton,
  .crossButton,
  .decrementButton { font-size: 0.75rem;}
}

@media (width <= 890px) {
  .sectionsContainer { width: 200%; }

  .sectionsContainer:has(.delivered.hidden) {
    transform: translateX(-50%);
    transition: transform 0.2s ease;
  }
  
  .sectionsContainer:has(.received.hidden) {
    transform: translateX(0%);
    transition: transform 0.2s ease;
  }
  
  .section {
    height: 48svh;
    transition: none;
  }

  .sectionTitles::after { transition: none; }

  .buttonContainer {
    display: flex;  
    margin-top: 0.125em;
    margin-inline: 0.625em;

    &:has(:not(.received)) { justify-content: flex-end; }
    &.received { justify-content: flex-start; }
  }
}

@media (width < 510px) {
  .wrapper { width: 94%; }
  .sectionsContainer { padding-inline: 0; gap: 0; }
  .section { width: 50%; }
  .sectionTitles { font-size: 1rem; }
  .tableContainer thead { font-size: 0.85rem; }
  .tableContainer tbody { font-size: 0.8rem; }
}

@media (width < 410px) {
  .sectionTitles { font-size: 1rem; }
  .tableContainer thead { font-size: 0.75rem; }
  .tableContainer tbody { font-size: 0.7rem; }
}