.exchangeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.sectionsContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
}

.section {
  flex: 1;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 54vh;
  cursor: pointer;
}

.section:hover {
  background-color: #f9f9f9;
}

.section:active {
  background-color: hsl(0, 0%, 88%);
}

h3 {
  margin-bottom: 10px;
}

.itemList {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.itemRow {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.bottomScrollable {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  /* fade at the sides */
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 2%, black 98%, rgba(0, 0, 0, 0) 99%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 2%, black 98%, rgba(0, 0, 0, 0) 99%);
}