.statisticsContainer {
  max-width: 1300px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.recharts-responsive-container {
  margin: 20px 0;
}

.recharts-cartesian-grid {
  stroke: #e0e0e0;
}

.recharts-x-axis,
.recharts-y-axis {
  font-size: 14px;
  fill: #8884d8;
}

.recharts-legend {
  margin-top: 15px;
  font-size: 14px;
  color: #8884d8;
}

.recharts-cartesian-grid line {
  stroke: #f0f0f0;
  stroke-width: 1px;
}
.chartHeader {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
/* Disable pointer effect on the BarChart */
.recharts-wrapper .recharts-cartesian-axis, 
.recharts-wrapper .recharts-bar {
  pointer-events: none;
}
/* Disable pointer events for the entire BarChart */
.recharts-wrapper {
  pointer-events: none;
}

/* Enable pointer events on the chart container itself, so it doesn't block other elements */
.recharts-wrapper * {
  pointer-events: auto;
}

/* Disable pointer events for individual Bar chart elements */
.recharts-bar-rectangles .recharts-bar-rectangle {
  pointer-events: none;
}

