.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.dashboardContainer{
    border-radius: 0.25em;
    padding-block: 0.625em;
    margin-block: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dailySection{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.5em;
    color: var(--primary-font-clr-dark);
    font-size: 1.125rem;
    font-weight: 500;

    .dailySales {
        display: flex;
        flex-direction: column;
        padding-inline: 0.5em;
        padding-block: 0.5em 1em;
    }

    .dailySales > span:last-of-type {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .amount_blue { color: steelblue; }  /* hsl(220, 78%, 46%) */
    .amount_red { color: lightcoral; }  /* hsl(3, 63%, 60%) */
    .amount_green { color:mediumseagreen; }  /* hsl(124, 34%, 50%) */
    .amount { font-weight: 700; }

    .dailyInfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        padding-inline: 0.5em;
        padding-block: 1em 0.5em;
        border-top: 1px solid lightgray;

        & > * {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        
        .dailyDues {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }
    }
}

.middleSection {
    font-size: 1.125rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.5em;
    gap: 0.5em;

    & > * {
        color: var(--primary-font-clr-dark);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        background-color: hsl(0, 0%, 97%);
        border-radius: 0.25em;
        cursor: pointer;
        text-decoration: none;
    }

    img { max-width: 3em; }
}

.navigationSection {
    font-size: 1.125rem;
    border-radius: 0.25em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0.5em;
    gap: 1em;
    overflow: hidden;

    .navItem {
        color: var(--primary-font-clr-dark);
        font-weight: 700;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 1em;
        text-decoration: none;
        background-color: hsl(0, 0%, 95%);
        border-radius: 0.25em;

        img {
            max-width: 4em;
        }
    }
}


@media (width < 680px) {
    .wrapper { width: 96%; }
    .dailySection { font-size: 0.8rem; }
    .dailySection > .dailySales > span:last-of-type { font-size: 1rem; }
    .middleSection { font-size: 0.8rem; }
    .navigationSection {
        font-size: 0.7rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}