.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.container{
    border-radius: 0.25em;
    padding: 0.625em;
    margin-block: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dailySection{
    color: hsl(214, 20%, 40%);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.5em;

    .dailySales {
        display: flex;
        flex-direction: column;
        padding-inline: 0.5em;
        padding-bottom: 0.5em;
    }

    .dailySales > span:last-of-type {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .amount_blue { color: hsl(220, 78%, 46%); }
    .amount_red { color: hsl(3, 63%, 60%); }
    .amount_green { color: hsl(124, 34%, 50%); }
    .amount { font-weight: 700; }


    .dailyInfo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding-inline: 0.5em;
        padding-top: 0.5em;

        & > * {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: lightgray;
        }

        /* .separator {
            position: absolute;
            height: 80%;
            width: 1px;
            top: 20%;
            background-color: lightgray;
        }

        .separator:nth-child(2) {
            left: 33.33%;
        }

        .separator:nth-child(4) {
            right: 33.33%;
        } */

    }
}

.middleSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.5em;
    gap: 0.5em;

    & > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        background-color: hsl(0, 0%, 97%);
        border-radius: 0.25em;
        cursor: pointer;
    }

    img {
        max-width: 3em;
    }
}

.navigationSection {
    border-radius: 0.25em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0.5em;
    gap: 1em;
    overflow: hidden;

    .navItem {
        color: hsl(214, 20%, 40%);
        font-weight: 700;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 1em;
        text-decoration: none;
        background-color: hsl(0, 0%, 95%);
        border-radius: 0.25em;

        img {
            max-width: 4em;
        }
    }
}


@media (width < 680px) {
    .dailySection { font-size: 0.8rem; }
    .dailySection > .dailySales > span:last-of-type { font-size: 1rem; }
    .middleSection { font-size: 0.8rem; }
    .navigationSection { font-size: 0.7rem; }
}