.container {
    position: relative;
    padding: 1rem;
}

.dropdownToggle {
    text-align: right;
}

.dropdownForm {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dropdownForm input {
    margin: 5px;
    padding: 4px 6px;
    width: 100px;
}

.dropdownForm button {
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.output {
    margin-top: 2rem;
    text-align: center;
}

.transactionCard {
    padding: 10px;
    /* background-color: #f0f0f0; */
    margin: 10px 0;
    border-radius: 8px;
}


.tableWrapper {
    overflow-x: auto;
    margin-top: 1rem;
}

.transactionTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
}

.transactionTable th,
.transactionTable td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #ddd;
}

.transactionTable th {
    background-color: #f0f0f0;
}

.transactionTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
