.initializationContainer {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 10px;
}

.initializationContainer h2 {
  color: hsl(214, 20%, 40%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.brandSection {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}


.brandLogo {
  max-width: 150px;
  margin: 0 0px;
}

.brandSection h3 {
  color: hsl(214, 20%, 40%);
  padding: 0.25rem 0.5rem;
  margin: 0 0 10px;
}

.cylinderSection {
  display: flex;
  gap: 10px;
}

.cylinderSection h4 {
  color: hsl(214, 20%, 40%);
  margin: 5px 0 0;
  height: 1.5rem;
  padding: 0 5px 2px;
  border-radius: 5px;
}

.cylinderSection h4.type-20mm {
  background-color: hsl(122, 71%, 85%);
}

.cylinderSection h4.type-22mm {
  background-color: hsl(215, 100%, 90%);
}

.Input {
  position: relative;
}

.Input input {
  color: hsl(214, 20%, 40%);
  font-weight: 600;
  height: 2rem;
  background: transparent;
  outline: none;
}

.Input label {
  color: hsl(214, 20%, 40%);
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 1rem;
  font-weight: 600;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s;
}

.Input input:focus,
.Input input:valid {
  border: 2px solid hsl(148, 74%, 47%);
}

.Input input:focus + label,
.Input input:valid + label {
  top: 0;
  font-size: .75rem;
  padding: 0 5px;
  color: hsl(148, 74%, 30%);
  background-color: white;
  transform: translate(-5px, -10px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  display: block;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: hsl(210, 80%, 35%);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 15px 27px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}

.button:hover {
  background-color: hsl(210, 85%, 45%);
}

.button:active {
  background-color: hsl(210, 85%, 55%);
}

.button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}